body {
    background-color: white;
}
.header {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-10px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;   
    cursor: pointer;
}
span {
    margin: 5px;
}
button {
    border-radius: 7px;
    color: red;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
    }
.section {
    justify-content: center;
    align-items: center;
    margin-left: -810px;
    display: flex;
}
    .aa {
    width: 120px;
    height: 50px;
    margin-top: 50px;
}
.bb {
    width: 200px;
    height: 50px;
    margin-top: 65px;
    margin-left: 20px;
    font-size: 20px;
    color: black;
    border: 1px solid black;
}
.aaa {
    background-color: white;
    color: red;
    
}
container-bottom {
    padding: 0px 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .header-top span {
    margin: 0 5px;
    font-family: sans-serif;
    font-weight: 500;
    color: gray;
  }
  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  .header-bottom .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .search {
    background-color: white;
    width: 70%;
    padding: 1px;
    border-radius: 4px;
    border: 1px solid red;
    
  }
  
  .search input {
    width: 95%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  .search button {
    background-color: red;
    border-radius: 4px;
    padding: 6px 6px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
  }
  .menu {
    height: 50vh;
    background-color: red;
    display: none;
  }
  
  .menu-block {
    display: block;
  }
  .open {
    display: block;
  }
  
  .close {
    display: none;
  }
.btn {
    
}
img {
    width: 100px;
    margin-left: 100px;
    
}